/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.starter-template {
  padding: 40px 15px;
  text-align: justify;
}

@media (min-width:300px){
   .canvas {
      height:250px;
   }
   #actions{
      height:100px;
   }
}

@media (min-width:1200px){
   .canvas {
      height:600px;
   }
   #actions{
      height:150px;
   }
}

#actions{
   background-color:black;
   color:#EEEEEE;
}

.canvas {
   text-align:center;
   background-color:#222222;
   padding:20px;
}

#choice tr, td{
   text-align:center;
   vertical-align:middle;
   border:1px gray solid;
   padding: 30px;
   background-color:#F0F0F0;
}
#choice{
   width:100%
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
